<!DOCTYPE html>
<html>
<head>
	<title>Puhu Kuşu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.0.1/ol.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.0.1/ol.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwedtbCae-frsVDz_I7N0lH5n78FE_bG8"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
	    $( document ).ready(function() {
	      });
    </script>
</head>
<body>

<% include ./parts/menu %>
<% include ./parts/layermenu %>



<div id="map"></div>


<script type="text/javascript">
	var binaFeatures = new ol.Feature({});
	var binaSource = new ol.source.Vector({
		features: binaFeatures
	});
	var map = new ol.Map({
	target: 'map',
	layers: [
	    basemap= new ol.layer.Tile({
	    	source: new ol.source.OSM()
	    }),
	    bina= new ol.layer.Vector({
	    	projection: 'EPSG:4326',
	    	source: binaSource,
	    	style : new ol.style.Style({
				stroke: new ol.style.Stroke({
					color: 'red',
					width: 2
				})
			})
	    }),

	],
    view: new ol.View({
    	projection: 'EPSG:4326',
     	center: [29.06,40.97], //ol.proj.fromLonLat([26.96, 39.59]),
     	zoom: 18
    }),
    eventListeners: {
    	featureover: function(e) {
    		e.feature.renderIntent = "select";
    	}
    }
	});
	// map.addInteraction (new ol.interaction.Draw({
	// 	source: new ol.source.Vector({}),
	// 	type: "Point"
	// }));

</script>
<script type="text/javascript">
	var socket=io();
	map.on("moveend",function(){
		socket.emit('bbox', map.getView().calculateExtent());
	});

	socket.on('layerBina', function(data){
	//console.log(data );
	binaFeatures=new ol.format.GeoJSON().readFeatures(data);
	binaSource.clear();
	binaSource.addFeatures(binaFeatures);
	});
</script>
</body>
</html>