<div id="layermenu" class="ui secondary compact fixed menu">
	<div  class="ui list">
		<div class="item">
			<div class="ui mini compact menu">
				<a class="item">
					<i class="circle icon"></i>
					Kapı
				</a>
				<a class="item">Ekle</a>
			</div>
		</div>
		<div class="item">
			<div class="ui mini compact menu">
				<a class="item">
					<i class="notched circle loading icon"></i>
					Yapı
				</a>
				<a class="item">Ekle</a>
			</div>
		</div>
	</div>
</div>
