<div id="menu" class="ui large compact fixed menu">
	<a class="active orange item">
		<i class="large paw icon"></i>
		Puhu Kuşu
	</a>
	<div class="right item">
		<div class="ui orange basic button">
			<i class="sign in icon"></i>
			Giriş
		</div>
		
	</div>
</div>